@model Final2.Models.Hospital

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Hospital</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="hId" class="control-label"></label>
                <input asp-for="hId" class="form-control" />
                <span asp-validation-for="hId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hName" class="control-label"></label>
                <input asp-for="hName" class="form-control" />
                <span asp-validation-for="hName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hAddress" class="control-label"></label>
                <input asp-for="hAddress" class="form-control" />
                <span asp-validation-for="hAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
